
MyFrameWork/.settings/org.eclipse.jdt.core.prefs
MyFrameWork/.settings/org.eclipse.m2e.core.prefs
MyFrameWork/.classpath
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/MyFrameWork/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4.fdt
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4.fdx
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.jdt/MyFrameWork.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
